.header {
  background: #111;
  color: #fff;
  position: sticky; /* stays at top when scrolling */
  top: 0;
  z-index: 50;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
}
.logo span {
  color: #eaee0d; /* highlight color */
}
.logo:hover{
  transform: scale(1.05) ease;
}

/* Desktop nav */
.nav {
  display: flex;
  gap: 16px;
}
.nav-link {
 font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}
.nav-link .active{
  border-bottom: 2px solid #eaee0d; /* highlight color */
}

.nav-link:hover,
.nav-link:focus {
  opacity: 1;
  text-decoration: none;
}
.nav-link:hover,.nav-link.active {
  border-bottom: 2px solid #fff; /* highlight color */
}

/* Hamburger button (hidden on desktop) */
.menu-toggle {
  display: none;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.menu-toggle .bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
  margin: 5px 0;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    position: absolute;
    right: 16px;
    top: 56px;
    background: #111;
    border: 1px solid #222;
    border-radius: 12px;
    padding: 12px;
    display: none;          /* hidden by default */
    flex-direction: column; /* vertical list */
    min-width: 180px;
    gap: 10px;
  }

  .nav.open {
    display: flex;          /* shown when state is open */
  }
  a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
  }
  .header .container a.nav-link{
    font-size: 25px
  }
}
