.projects {
  padding: 50px;
  background-color: #000000;
  text-align: center;
  color: #FFF;
  font-weight: 600;
}
.project-card i {
  font-size: 40px;
  margin-bottom: 15px;
  color: #000000;
}
.projects span{
  color:#eaee0d;
}
.projects h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  font-weight: 900;
}
.project-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  color: black ;
}

.project-card {
 background: #eaee0d;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px;
  width: 280px;
  text-align: center;
  transition: 0.3s ease;
  box-shadow: #000000 5px solid;
}
.project-card:hover {
  transform: translateY(-7px);
}
.project-icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: black; /* or any accent color */
}

body{
  scroll-behavior: smooth;
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px); /* Slight movement from the left */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 3s ease-out forwards;
}
